@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,400;1,700&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #D0BEAD;
    width:100vw;
}
header{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    background-image: url(../img/bkgrnd_macarons_top.jpg);
    width:100vw;
    height:200px;
    background-size: cover;
}

header img#logo_cocoa_y_canela{
    min-height:150px;
    min-width:150px;
    max-height: 190px;
    max-width: 190px;
    width: 18%;
    position:absolute;
    align-items: center;
    justify-content:center;
    border-radius:50%;

}

section.main_content{
    padding: 5% 5%;
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

/*//////ARTICULOS////// */


section.main_content article{
    min-width: 160px;
    width:20%;
    height: 40%;
    /* padding-top:25%; */
    /* border: 3px solid black; */

}

section.main_content article img{
    margin: 5% 5% 0 5%;
    width: 90%;
    height:95%;
}

section.main_content article a{
    text-decoration: none;
}

section.main_content p{
    padding-left:7%;
    background-color: #F9F9F9 ;
    color: #353535;
    line-height: 45px;
    text-transform: uppercase;
    
    letter-spacing: 0.25em;

}

section.main_content article.tortas{
background-color:#FDD7C6 ;
}

section.main_content article.desayunos{
    background-color:#C7A892 ;
}
section.main_content article.cupcakes{
    background-color:#8E604C ;
}
section.main_content article.varios{
    background-color:#453630 ;
}



footer{
    background-image: url(../img/bkgrnd_macarons_bottom.jpg);
    height:200px;
    background-size: cover;
}


@media (max-width: 760px){
    section.main_content article{
        
        width:45%;
        /* height: 40%; */
        /* padding-top:25%; */
        /* border: 3px solid black; */
    }

}



@media (max-width: 420px){

    section.main_content article{
        
        width:95%;
        /* height: 40%; */
        /* padding-top:25%; */
        /* border: 3px solid black; */
    
    }
}